* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:cornflowerblue
}

#logo {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.container1 {
  background-color: wheat;
  color: brown;
  display: flex;
  flex-direction: row;
}

.container1 h1 {
  padding-left: 8vw;
  font-size: 80px;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 10px;
}

.box1, .box2{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 10px;
}
.container2 ,.blog{
  width: 45vw;
  background-color: aquamarine;
  border: 2px solid blue;
  padding: 2px;
  margin: 15px;
}

.container2 input {
  min-width: 90%;
  padding: 5px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
  background: none;
}


.banner,
.forums {
  margin: 20px;
  min-height: 30vh;
  width: 45vw;
  border: 2px solid yellow;
  text-align: center;
  padding: 2px;
  margin: 15px;
  background-color: yellowgreen;
}

nav {
  margin: 15px;
  min-height: 5vh;
  padding: 15px;
  display: flex;
}

nav button, .container2 button {
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  background-color: bisque;
}
footer {
  min-height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
