*{
    margin: 0;
    padding: 0;
    background-color: black;
}
/* Navigation bar */
nav{
    background-color: black;
    height: 10vh;
    margin-bottom: 50px;
}
nav ul{
    margin-top: -8vh;
    margin-left: 15vw;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 9vw;
}
/* logo */
#logo img{
    height: 10vh;
    opacity: 0.5;
}
.container{
    color: aliceblue;
    display: inline-block;
    width: 40vw;
    background-color:rgba(14, 44, 44, 0.384);
    height: 55vh;
    border: 2px dotted royalblue;
    border-radius: 5vw;
    overflow:auto;
    margin: 2vw;
    padding: 2vw;
    font-family: 'Cascadia Code','Times New Roman',Times;
}
.review{
    position :absolute;
    bottom: 30vh;
    left: 50vw;
    height: 30vh;
    width : 40vw;
    background-color :blueviolet ;
    color: aliceblue;
}
footer{
    color: azure;
    text-align: center;
    font-family: 'Cascadia Code'; 
    color:rgba(164, 248, 248, 0.384);
}