* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: #ff8b13;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-family: "Roboto", sans-serif;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 300px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ff8b13;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* .floorContainer{
  overflow: auto;
  min-width: 100vw;
} */

.floor {
  z-index: 0;
  background-color: #e8d5c4;
  height: 150px;
  color: #20262e;
  text-align: right;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.boundary {
  height: 4px;
  background-color: #ff8b13;
}

.lift-btn {
  font-size: xx-large;
  color: rgb(176, 18, 18);
}

.lift-btn:hover {
  color: rgb(107, 0, 0);
  cursor: pointer;
}

/* lift design */
.liftContainer {
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lift {
  min-width: 80px;
  height: 140px;
  background: grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.lift-no {
  color: white;
  padding: 0px 5px;
}

.left-door {
  height: 100%;
  width: 50%;
  background: #ff8b13;
  border-right: 1px solid black;
  transition: all 2.5s;
}

.right-door {
  height: 100%;
  width: 50%;
  background: #ff8b13;
  border-left: 1px solid black;
  transition: all 2.5s;
}

.leftDoorSlide {
  transform: translate(-90%);
}

.rightDoorSlide {
  transform: translate(90%);
}
