* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 4px;
}

.content-container {
  width: 100%;
  height: 95vh;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  position: relative;
  display: flex;
  flex-direction: column;
}

.image-container {
  border: 4px solid white;
  width: 30%;
  height: 70%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#movie-select {
  width: 30%;
  margin: 0 auto;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
}

label {
  color: aliceblue;
  padding: 8px;
  margin: 12px;
}
