doctype html
head
  title Welcome to My Website
  link(rel='stylesheet' href='style.css')
  style.
    /* Global Styles */
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    /* Header Styles */
    header {
    background-color: #333;
    color: #fff;
    }
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    nav ul li {
    display: inline-block;
    }
    nav ul li a {
    color: #fff;
    display: block;
    padding: 1em;
    text-decoration: none;
    }
    nav ul li a:hover {
    background-color: #444;
    }
    /* Main Styles */
    main {
    padding: 3em;
    text-align: center;
    }
    h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    }
    p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 2em;
    }
    .cta-button {
    background-color: #c0392b;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
header
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#') About
      li
        a(href='#') Contact
main
  h1 Welcome to My Website
  p
    | Thank you for visiting my website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  a.cta-button(href='#') Learn More
footer
  p &copy; 2023 My Website. All rights reserved.
