* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: url("/imgs/background.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background: linear-gradient(#29601c, #fdf171);
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border: 2px solid black;
}

.head{
    background: red;
}

.snake{
    background: yellow;
}

.food{
    background: blue;
}