* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section__intro {
  width: 100%;
  height: calc(100vh - 50px);
  background: url("./assets/main-bg.jpg"), rgba(0, 0, 0, 0.4);
  background-size: cover !important;
  background-blend-mode: saturation;
}

/* navbar */
#nav-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin-top: 0;
  height: 45px;
  width: 100%;
  background: #fff;
  z-index: 1000;
  position: fixed;
}

#nav-wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#nav-wrap ul a {
  display: block;
  color: #0c0c0c;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav-wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#nav-wrap ul li ul li:hover {
  background: #f3f3f3;
}

#nav-wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}

#nav-wrap ul ul li {
  float: none;
  width: 200px;
}

#nav-wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#nav-wrap ul ul ul {
  top: 0;
  left: 100%;
}

#nav-wrap ul li:hover > ul {
  display: block;
}

.menu-icon-btn {
  color: #ccc;
  font-size: 24px;
  display: block;
  height: 35px;
  position: relative;
  padding-top: 9px;
  padding-left: 15px;
}

.menu-icon-btn:hover {
  cursor: pointer;
  color: #898989;
}

.main-menu-container {
  height: 100vh;
}

.search-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.search-container {
  display: table;
  width: 50px;
}

.search-icon-btn {
  background-color: #fff;
  color: #ccc;
  font-size: 24px;
  border: 1px solid #fff;
  display: table-cell;
  height: 35px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 2;
  padding-top: 6px;
}

.search-icon-btn:hover {
  color: #898989;
  cursor: pointer;
}

/* Intro */
.section__intro__main.intro-heading {
  color: white;
  text-align: center;
  margin: auto 0;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .search-wrap {
  position: relative;
  vertical-align: top;
  width: 70vw;
  height: 40px;
  margin: 12px;
  background: #fff;
  display: flex;
} */

/* .search-wrap__input-bar > input {
  
  border: none;
  border-radius: 8px;
  outline: none;
} */

.search-wrap {
  background-color: #fff;
  color: #0c0c0c;
  width: 70vw;
  height: 40px;
  margin: 12px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: none;
}

.search-wrap > input {
  padding: 5px;
  border: none;
  width: 70%;
  font-size: 18px;
  outline: none;
}

.section__intro__footer {
  width: 70%;
  color: #ccc;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0%;
}

.stats-item {
  display: flex;
  flex-direction: column;
  margin: 4px 20px;
}

/* places */
.places-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading {
  font-weight: 600;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.description {
  color: #949494;
  font-size: 14px;
}

.cards__container {
  width: 100%;
  max-width: 100%;
  height: 350px;
  overflow-x: auto; /* Use 'auto' to only show scrollbar when needed */
  white-space: nowrap; /* Prevent cards from wrapping to a new line */
  -webkit-overflow-scrolling: touch;
}

.card {
  width: 220px;
  height: 320px;
  border-radius: 24px;
  overflow: hidden;
  margin: 8px;
  transition: transform 0.3s ease;
  display: inline-block; /* Display cards in a row */
}

.card img {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.025);
  cursor: pointer;
}
