body {
  background-image: url("/green.jpg");
  background-size: cover;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: xx-large;
}

h1 {
  color: goldenrod;
  padding: 15px;
  border-bottom: 2px dotted goldenrod;
}

button {
  background-color: goldenrod;
  color: rgb(10, 75, 10);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 180px;
  height: 60px;
  border: none;
  font-weight: 800;
  font-size:x-large;
}

button:hover {
  background: brown;
  color: goldenrod;
}
