*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    background-color :whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbox{
    background-color ::whitesmoke;
    padding: 30px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15) , -6px -6px 10px -1px rgba(255,255,255,0.75) ;
}
#logo{
    width: 6vw;
    cursor: pointer;
}
.search{
    width: 0vw;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.5s;
}
input{
    font-size: 20px;
    width: 0px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 2s;
}
.active input{
    width: 500px;
    padding: 12px 20px;
}
.active .search{
    width: 4vw;
}